# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build outputs
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Netlify folder
.netlify

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Emulator Data
*.log
*.pid
firestore.rules
storage.rules
database-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
*.snap

# Environment variables
.env.local
.env.*.local
# Do NOT add .env - it might contain non-sensitive defaults

# Debugging
*.tsbuildinfo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Genkit state
.genkit/log/**
.genkit/trace/**